body {
	font-family: Verdana, sans-serif;
	width: 90%;
	margin: 0 auto;
}

h1 {
	font-size: 2.5em;
}

h2 {
	display: inline;
	margin-right: 3em;
	font-weight: 100;
	color: #444444;
}

h4 {
	font-weight: lighter;
	color: #aaaaaa;
}

#stock{
	margin-left: 20px;
}

.stock-info{
	position: relative;
	display: inline-block;
	margin: 20px 20px;

	width: 14em;
	height: 10em;
	border: solid 1px black;
	padding: 15px 20px;
	float: left;
}

a {
	color: #cccccc;
	position: absolute;
	top: 10px;
	right: 20px;
	font-size: 1.4em;
	cursor: pointer;
}



