<div class='container'>
	<div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">Questions (Q) and Answers (A)</h4>
				</div>
				<div class="modal-body">
					<p class='helpmodal question'>Q: What can I do with this app?</p>
					<p class='helpmodal'>A: If you type in a stock code e.g. 'FB' in the stock code box and then click on 'Add' NYSE stock data will be retrieved with the help of Qandl (https://www.quandl.com/) and displayed in the graph alongside other stocks that were already displayed.</p>
					<p class='helpmodal question'>Q: How can I remove a stock from the graph?</p>
					<p class='helpmodal'>A: Click on the 'x' in the box below the graph that contains the stock.</p>
					<p class='helpmodal question'>Q: Why do sometimes stocks appear or disappear without me doing anything.</p>
					<p class='helpmodal'>A: That's because everybody who uses this app sees the same thing on their screen. Therefore if someone else deletes for example the Facebook (FB) stock from their graph this will also automatically be removed from the graph you are seeing on your screen through the use of Websockets. This feature was added as an excercise to implement Websockets.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>